<div class='content-container'>
  <h2 class='text-center'>Talk of the Town</h2>
  <hr>
      
      <% @entries.each_with_index do |entry, i| %>
        
        <% if ( i % 4 == 0) %>
        <div class="row entry-big">
          <div class="entry-img col-xs-7">
          <%= image_tag entry.image.url(:medium), class: "img-responsive" %>   
          </div>
          <div class="entry-content col-xs-5">
            <h4><%= link_to entry.title, entry_show_path(entry.id) %></h4>
            <p class='user-entry-p'><%= entry.user.first_name + " " + entry.user.last_name %> | <span><%= entry.created_at.strftime("%m/%d/%Y") %></span></p>
            <p><%= entry.body.truncate(700) %></p>
          </div>
        </div>
        <% else %>
        
          <div class='entry-index-box col-xs-4'>
            <div class="entry-img">
            <%= image_tag entry.image.url(:medium), class: "img-responsive" %>   
            </div>
            <div class="entry-content">
              <h4><%= link_to entry.title, entry_show_path(entry.id) %></h4>
              <p class='user-entry-p'><%= entry.user.first_name + " " + entry.user.last_name %> | <span><%= entry.created_at.strftime("%m/%d/%Y") %></span></p>
              <p><%= entry.body.truncate(200) %></p>
            </div>
          </div>


        <% end %>
      <% end %>
</div>
<%= will_paginate %>