<div class='row'>
  <div class='col-md-3 col-md-offset-2'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
  <div class='col-md-3'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
  <div class='col-md-3'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
</div><br><br>

<div class='row'>
  <div class='col-md-3 col-md-offset-2'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
  <div class='col-md-3'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
  <div class='col-md-3'>
    <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
  </div>
</div>
