
<div class='row'>
  <div class='col-md-offset-1'>
    <h2>About town in <%= @city.name %></h2>
    
    <% @city.entries.each do |entry| %>
      <div class='col-md-4'>
        <h4><%= link_to entry.title, entry_show_path(entry.id) %></h4>
        <p><%= entry.user.first_name + " " + entry.user.last_name %> | <span>Written <%= time_ago_in_words(entry.created_at) %> ago</span></p>
        <p><%= entry.body.truncate(400) %></p>
      </div>
    <% end %>
  </div>
</div>
